@using Lesson4App1
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@{
    @model Lesson4App1.Models.Employee;
}
<form asp-action="Update" method="post">
    <div>
        <label> Personel Id </label>
        <input asp-for="PersonelId" class="form-control" />
    </div>
    <div>
        <label> First Name</label>
        <input asp-for="FirstName" type="text" class="form-control" />
    </div>
    <div>
        <label> Last Name</label>
        <input asp-for="LastName" type="text" class="form-control" />
    </div>

    <div>
        <input type="submit" value="Update" />
    </div>
</form>